    body {
        padding: 0px;
        margin: 0px;
        background-color: #b3b1b1;
    }
    
    #title-tag {
        text-align: center;
        color: #f2f2f2;
        padding-top: 1em;
        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    a,
    p,
    h2 {
        color: #f2f2f2;
        opacity: 0.8;
    }
    
    img {
        border-radius: 3em;
        border: 2px solid black;
    }
    
    hr {
        width: 240px;
        margin-left: 0.30em;
    }
    
    #tag-head {
        display: flex;
        padding-top: 18em;
    }
    
    #brand-strategys {
        padding-right: 3em;
        padding-top: 4em;
        margin-left: 4em;
        padding-bottom: 6em;
    }
    
    #campaign-creative {
        padding-top: 4em;
        padding-bottom: 6em;
    }
    
    #marketting-campaigns,
    #prototyping {
        padding-right: 3em;
        padding-top: 4em;
        margin-left: 4em;
        padding-bottom: 5em;
    }
    
    img:hover {
        opacity: 0.6;
    }